img {
  max-width: 100%;
}

/* Typography
   ========================================================================== */
/**
* Set font and weight of heading.
*/
h1, h2, h3, h4, h5, h6 {
  font-family: "Lora", serif;
  font-weight: 700;
}

/**
 * Add color scheme & states of buttons components.
 */
p {
  font-family: "Lora", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #6B676D;
}

/* Base
   ========================================================================== */
body {
  margin: 0;
}

.position_relative {
  position: relative;
}

/* Header
 ========================================================================== */
.header {
  box-sizing: border-box;
  height: 70px;
  padding: 1rem 0;
  margin: 0 5rem;
}

/* Single Post
  ========================================================================== */
.single-post {
  margin-right: auto;
}

.single-post__heading {
  text-align: center;
  padding: 0 200px;
}

.single-post__main-title {
  font-size: 60px;
  font-family: "Lato", sans-serif;
}

.single-post__main-title--block {
  display: block;
}

.single-post__meta {
  font-size: 12px;
  color: #A2A0A4;
}

.single-post__featured-image {
  text-align: center;
}

.single-post__content {
  padding: 0 200px;
}
.single-post__content h2 {
  font-size: 30px;
}

.single-post__image {
  margin: 0;
}

.single-post__quote {
  margin-left: 0;
}
.single-post__quote p {
  font-size: x-small;
}

.single-post__pagination {
  text-align: center;
}

.single-post__summary {
  padding: 10px 100px;
}

/* Footer
   ========================================================================== */
footer {
  height: 100px;
  padding: 70px;
  background-color: #342E37;
  color: #FFF;
}

.footer__container {
  float: left;
  padding: 0 30px;
  font-family: "Lato", sans-serif;
}
.footer__container small {
  font-size: 12px;
  text-transform: uppercase;
}

.footer__logo {
  padding-bottom: 15px;
}
.footer__logo img {
  width: 300px;
}

.footer__contact-info p {
  margin: 0;
  padding-bottom: 10px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  color: #FFF;
}
.footer__contact-info a {
  color: #FA824C;
}
.footer__contact-info a:hover {
  color: #A2A0A4;
}

.footer_text-emphasis {
  padding-right: 3px;
  font-weight: bold;
}

/* Buttons
   ========================================================================== */
/**
 * Add base styles in button.
 */
.button {
  padding: 8px 20px;
  border: none;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

/**
 * Add color scheme & states of buttons components.
 */
.button_primary {
  background-color: #FA824C;
  color: #FFF;
}
.button_primary:hover {
  background-color: #6B676D;
}
.button_primary:focus, .button_primary :active {
  border: 2px solid #ECECEC;
}

.button_secondary {
  background-color: #ECECEC;
  color: #342E37;
}
.button_secondary:hover {
  background-color: #6B676D;
  color: #FFF;
}
.button_secondary:focus, .button_secondary :active {
  border: 2px solid #ECECEC;
}

.image-caption {
  background-color: #342E37;
  font-family: "Lato", sans-serif;
  color: #FFF;
  position: absolute;
  z-index: 1;
  bottom: 5px;
  opacity: 0.8;
  width: 100%;
  box-sizing: border-box;
}

.image-caption__short {
  background-color: #342E37;
  font-family: "Lato", sans-serif;
  color: #FFF;
  position: absolute;
  z-index: 1;
  bottom: 5px;
  opacity: 0.8;
  width: 100%;
  box-sizing: border-box;
}

.link_primary {
  color: #342E37;
}
.link_primary:hover {
  color: #FA824C;
}
.link_primary:active {
  color: #A2A0A4;
}

/* Images
   ========================================================================== */
/* Navigation
   ========================================================================== */
.navbar__logo {
  float: left;
}
.navbar__logo img {
  width: 90px;
}

.navbar__container {
  float: left;
  width: 1200px;
  text-align: right;
}
.navbar__container ul {
  display: inline-block;
  font-family: "Lato", sans-serif;
}
.navbar__container li {
  float: left;
  padding-right: 10px;
  list-style-type: none;
}
.navbar__container a {
  text-decoration: none;
  text-transform: uppercase;
}

/*# sourceMappingURL=style.css.map */
